# Java
*.class
*.log

# Maven
/target/
!.mvn/wrapper/maven-wrapper.jar

# IntelliJ
*.iml
.idea/
*.iws
out/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Spring
application.yml
.env

# Logs
logs/
